.vs/
Client/BlazorSparkWebUI/bin/
Client/BlazorSparkWebUI/obj/

Server/Presentation/Api/bin/
Server/Presentation/Api/obj/
Server/Core/Application/bin/
Server/Core/Application/obj/
Server/Core/Common/bin/
Server/Core/Common/obj/
Server/Core/Domain/bin/
Server/Core/Domain/obj/
Server/Infrastructure/ExternalServices/bin/
Server/Infrastructure/ExternalServices/obj/
Server/Infrastructure/LocalServices/bin/
Server/Infrastructure/LocalServices/obj/
Server/Infrastructure/Persistence/bin/
Server/Infrastructure/Persistence/obj/

Tests/Application.UnitTests/bin/
Tests/Application.UnitTests/obj/
Tests/Application.IntegrationTests/bin/
Tests/Application.IntegrationTests/obj/
Tests/ExternalServices.ManualTests/bin/
Tests/ExternalServices.ManualTests/obj/